*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.header__link{
    color: #f3f3f3;
    text-decoration: none;
}
.navbar{
    height: 60px;
    background-color:  #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top:0;
    z-index: 100;
}

.nav-logo{
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url("./logos/amazon_logo.png");
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}

.border:hover {
    border : 1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-address{
    margin-right: 10px;
    padding: 7px;

}


/**box-3****/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
    flex : 1;
    margin-right: 20px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange ;
}
/***box-4**/
.nav-signin{
    margin-right: 20px;
    padding: 7px;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 1rem;
    font-weight: 700;
}

.nav-return{
    margin-right: 10px;
    padding: 7px;
}

/**box6**/
.nav-cart{
    margin-right: 10px;
    padding: 7px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.nav-cart i{
    font-size:23px;
    margin-right: 5px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart span{
    font-size: 1rem;
}
/***Panel Styling***/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
